body {
    background-color: #428A51;
    color: #fffafb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

button {
    color: #fffafb;
    padding: 0.25em 0.5em;
    background-color: #3D5467;
    border: 1px solid black;
    border-radius: 3px;
}

.globalcommands {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
    margin: 1em;

}


.grids {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
}

.gridcommands {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
    margin: 1em;
    margin-top: 0.5em;
}

table {
    background-color: #CFB8B1;
}

/* #0A8754 */
.cell {
    background: #A4938E;
    width: 1.25em;
    height: 1.25em;
    text-align: center;
    padding: 0
}

.cell-content {
    transition: color 1s;
}

.cell-content {
    cursor: default
}


.blue-plant {
    color: #91CCCF
}

.pink-plant {
    color: #E38DA8
}

.purple-plant {
    color: #AF83CC
}

.yellow-plant {
    color: #ECE2A1
}

.hide-cell {
    color: #A4938E;
}

.dead {
    background-color: #A4938E;
    border-radius: 3em;
}

.alive {
    background-color: #428A51;
    border-radius: 3em;
}

dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}