<h1 class="text-lg">All garden plots</h1>

<ul class="mt-2 mb-2">
    <%= for plot <- @plots do %>
        <li>
            <.link href={"/plots/#{plot.name}"}>
                <%= plot.name %>
            </.link>
        </li>
        <% end %>
</ul>

<p><a href={~p"/plots/new"}>Create a new garden plot</a></p>
