<h1 class="text-lg">
  Create a new garden plot
</h1>

<%= if @changeset.errors do %>
  <ul>
    <%= for error <- @changeset.errors do %>
      <li><%= inspect(error) %></li>
    <% end %>
  </ul>
<% end %>
<.form :let={form} class="mt-2" for={@changeset} action={~p"/plots"}>
  <label>A unique name <.input type="text" field={form[:name]} /></label>
  <button>Create</button>
</.form>
