<h1 class="text-lg">
  <%= @plot.name %>
</h1>

<.grid grid={@grid} interactive={@interactive} />

<form class="mt-2" action={~p"/plots/#{@plot.name}/play"}>
  <label>Your name: <input type="text" name="player" /></label>
  <button>Play</button>
</form>
